<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Change Request</title>
  </head>
  <body>
    <center><img src="https://emergencysystem.info/uploads/logo2.jpg"  width="100px"></img>
      <p style="font-size:20px;"><b>ERCS New Mission Submitted</b></p></center>

 <p>
 Hello <%= mission && mission.leader.name %>, <br>

 A Mission Request (MR) <%= mission && mission.mission_id %> with the following details has been submitted. To process the MR, please login to the ERCS
<br><br>
MR ID:<%= mission && mission.mission_id %><br>
Mission Date: <%= mission && mission.create_date %><br>
Mission Stops: <% missionLocation_info.forEach((item, index) => { %>
                                          <span><%= item.departure_umrah_id != null ? item.departure_umrah_id.installation_name : item.departure_installation_name %>-<%= item.arrival_umrah_id != null ? item.arrival_umrah_id.installation_name : item.arrival_installation_name %>,</span>
                                      <% }); %>
<br>
Mission Focal Person: <%= mission && mission.leader.user.name %>
 </p>
  </body>
</html>
